@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.pull:hover {
  filter: brightness(1.3);
}

.sortable-ghost * {
  display: none;
}

.sortable-ghost {
  z-index: 10;
  height: 2px;
  border: 2px solid orange;
}

.pull-number-tooltip {
  font-size: 24px;
  background-color: unset;
  border: unset;
  box-shadow: unset;
  font-weight: 700;
  color: #fff;
  text-shadow: #000 2px 2px;
}

.pull-number-tooltip:before {
  display: none;
}