@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.leaflet-container {
  font-family: unset;
}

.leaflet-tooltip.no-arrow:before {
  display: none;
}

.pull-number-tooltip {
  font-size: 32px;
  background-color: unset;
  border: unset;
  box-shadow: unset;
  font-weight: 700;
  color: #fff;
  -webkit-text-stroke: 1px black;
}

.pull:hover {
  filter: brightness(1.3);
}

.sortable-ghost * {
  display: none;
}

.sortable-ghost {
  z-index: 10;
  min-height: 2px;
  height: 2px;
  border: 2px solid orange;
}

.gritty {
  background-image: url('/button_noise.png');
  background-blend-mode: overlay;
}

.fancy {
  @extend .gritty;

  display: flex;
  align-items: center;
  background-color: #7f1d1d;
  border: 1px solid black;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: normal;
  border-radius: 6px;
  position: relative;
  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);

  &.short {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

.fancy-toast {
  @extend .fancy;

  background-color: #1c7a37;
  box-shadow:
    inset 0 30px 30px -15px rgba(255, 255, 255, 0.1),
    inset 0 0 0 1px rgba(255, 255, 255, 0.3),
    inset 0 1px 20px rgba(0, 0, 0, 0),
    /*0 3px 0 #7f1d1d,*/ 0 3px 2px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.1),
    0 10px 20px rgba(0, 0, 0, 0.1);
}

.fancy-button {
  @extend .fancy;

  cursor: pointer;
  user-select: none;
  top: -3px;
  position: relative;
  transition: 150ms all;

  box-shadow:
    inset 0 30px 30px -15px rgba(255, 255, 255, 0.1),
    inset 0 0 0 1px rgba(255, 255, 255, 0.3),
    inset 0 1px 20px rgba(0, 0, 0, 0),
    0 3px 0 #7f1d1d,
    0 3px 2px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.1),
    0 10px 20px rgba(0, 0, 0, 0.1);

  &.two-d {
    top: unset;
    box-shadow:
      inset 0 30px 30px -15px rgba(255, 255, 255, 0.1),
      inset 0 0 0 1px rgba(255, 255, 255, 0.3),
      inset 0 1px 20px rgba(0, 0, 0, 0),
      0 3px 2px rgba(0, 0, 0, 0.2),
      0 5px 10px rgba(0, 0, 0, 0.1),
      0 10px 20px rgba(0, 0, 0, 0.1);
  }

  &:hover {
    box-shadow:
      inset 0 30px 30px -15px rgba(255, 255, 255, 0.1),
      inset 0 0 4px 2px rgba(255, 255, 255, 0.3),
      inset 0 1px 20px rgba(0, 0, 0, 0),
      0 3px 0 #7f1d1d,
      0 3px 2px rgba(0, 0, 0, 0.2),
      0 5px 10px rgba(0, 0, 0, 0.1),
      0 10px 20px rgba(0, 0, 0, 0.1);

    &.two-d {
      transform: unset;
      box-shadow:
        inset 0 30px 30px -15px rgba(255, 255, 255, 0.1),
        inset 0 0 4px 2px rgba(255, 255, 255, 0.3),
        inset 0 1px 20px rgba(0, 0, 0, 0),
        0 3px 2px rgba(0, 0, 0, 0.2),
        0 5px 10px rgba(0, 0, 0, 0.1),
        0 10px 20px rgba(0, 0, 0, 0.1);
    }
  }

  &:active {
    transform: translateY(3px);
    box-shadow:
      inset 0 16px 2px -15px rgba(0, 0, 0, 0),
      inset 0 0 0 1px rgba(255, 255, 255, 0.15),
      inset 0 1px 20px rgba(0, 0, 0, 0.1),
      0 0 0 rgba(0, 0, 0, 0);

    &.two-d {
      transform: unset;
      box-shadow:
        inset 0 16px 2px -15px rgba(0, 0, 0, 0),
        inset 0 0 0 1px rgba(255, 255, 255, 0.15),
        inset 0 1px 20px rgba(0, 0, 0, 0.1),
        0 0 0 rgba(0, 0, 0, 0);
    }
  }

  &[disabled] {
    cursor: default;
    background: #eee;
    color: #bbb;
    border-color: #bbb;
    text-shadow: 0 1px 0 white;
    box-shadow:
      inset 0 0 0 1px rgba(255, 255, 255, 1),
      inset 0 1px 20px rgba(0, 0, 0, 0),
      0 3px 0 #bbb,
      0 0 0 1px white,
      0 3px 0 1px white,
      0 10px 20px rgba(0, 0, 0, 0);
    top: -3px;
    transition: none;
  }

  &[disabled]:active {
    top: -2px;
    box-shadow:
      inset 0 0 0 1px rgba(255, 255, 255, 1),
      inset 0 1px 20px rgba(0, 0, 0, 0),
      0 2px 0 #bbb,
      0 0 0 1px white,
      0 2px 0 1px white,
      0 10px 20px rgba(0, 0, 0, 0);
  }

  &:focus-visible {
    /*border: none;*/
    outline: 2px solid yellow;
    /*border: 2px solid yellow;*/
  }
}
