@tailwind base;
@tailwind components;
@tailwind utilities;

$fancy-red: #7f1d1d;
$fancy-blue: #131a34;
$fancy-green: #1d7f1f;

:root {
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-family: 'Roboto Slab Variable', serif;
  color: white;
}

.leaflet-container {
  font-family: unset;
}

.leaflet-tooltip.no-arrow:before {
  display: none;
}

.leaflet-zoom-box {
  border: 2px solid $fancy-red;

  &.inverse {
    border-style: dashed;
  }
}

.leaflet-popup.plain-popup {
  transition: none;

  .leaflet-popup-content-wrapper {
    background: none;
  }

  .leaflet-popup-content {
    padding: 0;
    margin: 0;
  }

  .leaflet-popup-tip-container {
    display: none;
  }
}

.pull-number-tooltip {
  font-size: 32px;
  background-color: unset;
  border: unset;
  box-shadow: unset;
  font-weight: 700;
  color: #fff;
  -webkit-text-stroke: 1px black;

  &.hovered {
    font-size: 36px;
  }
}

.note {
}

.note-tooltip {
  font-size: 32px;
  background-color: unset;
  border: unset;
  box-shadow: unset;
  font-weight: 700;
  -webkit-text-stroke: 1px black;
}

.pull {
  cursor: pointer;

  &:hover {
    filter: brightness(1.3);
  }

  &:not(:first-child) {
    padding-top: 2px;
  }

  &:not(:last-child) {
    padding-bottom: 2px;
  }
}

.sortable-ghost * {
  display: none;
}

.sortable-ghost {
  z-index: 10;
  min-height: 2px;
  height: 2px;
  border: 2px solid orange;
  padding: 0;
}

.fade-in-map-object {
  transition: 500ms opacity;
}

.gritty {
  background-image: url(/images/button_noise.png);
  background-blend-mode: overlay;
  background-repeat: repeat;
}

.fancy {
  @extend .gritty;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $fancy-red;
  border: 1px solid black;
  min-height: 42px;
  padding: 8px 12px;
  font-size: 15px;
  font-weight: normal;
  border-radius: 6px;
  position: relative;
  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);

  &.short {
    min-height: 32px;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  &.green {
    background-color: $fancy-green;
  }
}

.bg-fancy-red {
  background-color: $fancy-red;
}

.text-fancy-red {
  color: $fancy-red;
}

.bg-fancy-blue {
  background-color: $fancy-blue;
}

input.fancy {
  background-color: rgb(78 78 87);
  padding: 8px;
}

@mixin fancy-shadow($two-d: false, $color: $fancy-red) {
  $bottom-size: 3px;
  @if $two-d {
    $bottom-size: 0;
  }

  box-shadow:
    inset 0 30px 30px -15px rgba(255, 255, 255, 0.1),
    inset 0 0 0 1px rgba(255, 255, 255, 0.3),
    inset 0 1px 20px rgba(0, 0, 0, 0),
    0 $bottom-size 0 $color,
    0 3px 2px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.1),
    0 10px 20px rgba(0, 0, 0, 0.1);
}

.fancy-toast {
  @extend .fancy;
  @include fancy-shadow(true);

  background-color: $fancy-green;

  &.error {
    background-color: #b61111;
  }

  &.info {
    background-color: #1e2e8c;
  }
}

.fancy-button {
  @extend .fancy;
  @include fancy-shadow();

  cursor: pointer;
  user-select: none;
  top: -3px;
  position: relative;
  transition: 150ms all;
  white-space: nowrap;

  &.green {
    @include fancy-shadow(false, $fancy-green);
  }

  &-inner {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
  }

  .fancy-button-hover {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &.outline-button {
    background-color: transparent;
    border: 1px solid #777777;

    box-shadow:
      inset 0 30px 30px -15px rgba(127, 29, 29, 0.1),
      inset 0 0 0 1px rgba(127, 29, 29, 0.3),
      inset 0 1px 20px rgba(0, 0, 0, 0),
      0 3px 0 #444444,
      0 3px 2px rgba(0, 0, 0, 0.2),
      0 5px 10px rgba(0, 0, 0, 0.1),
      0 10px 20px rgba(0, 0, 0, 0.1);
  }

  &.two-d {
    @include fancy-shadow(true);
    top: unset;
  }

  &.two-d.outline-button {
    top: unset;
    box-shadow:
      inset 0 1px 20px rgba(0, 0, 0, 0),
      0 3px 2px rgba(0, 0, 0, 0.2),
      0 5px 10px rgba(0, 0, 0, 0.1),
      0 10px 20px rgba(0, 0, 0, 0.1);
  }

  &:hover {
    .fancy-button-hover {
      background: radial-gradient(#de1313, transparent);
    }

    &.green .fancy-button-hover {
      background: radial-gradient(#3bd324, transparent);
    }

    &.outline-button .fancy-button-hover {
      background: radial-gradient(rgba(217, 150, 150, 0.2), transparent);
    }

    &.two-d {
      transform: unset;
    }
  }

  &:active {
    transform: translateY(3px);
    box-shadow:
      inset 0 16px 2px -15px rgba(0, 0, 0, 0),
      inset 0 0 0 1px rgba(255, 255, 255, 0.15),
      inset 0 1px 20px rgba(0, 0, 0, 0.1),
      0 0 0 rgba(0, 0, 0, 0);

    &.two-d {
      transform: unset;
      box-shadow:
        inset 0 16px 2px -15px rgba(0, 0, 0, 0),
        inset 0 0 0 1px rgba(255, 255, 255, 0.15),
        inset 0 1px 20px rgba(0, 0, 0, 0.1),
        0 0 0 rgba(0, 0, 0, 0);
    }
  }

  &[disabled] {
    cursor: default;
    opacity: 0.9;
    filter: contrast(0.6);
    transition: none;
  }

  &:focus-visible {
    outline: 2px solid yellow;
  }
}

.dropdown-main {
  width: 100%;
  justify-content: flex-start;

  transition: border;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;

  &.options-visible {
    border: 1px solid #c2c2c2;
  }

  .dropdown-main-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: auto;
  }
}

.dropdown-option {
  min-height: unset;
  transition: max-height, padding-top, padding-bottom, opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;

  .fancy-button-inner {
    justify-content: flex-start;
  }

  &:not(.options-visible) {
    max-height: 0;
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  &.options-visible {
    max-height: 100px;
  }

  .dropdown-option-text {
    text-overflow: ellipsis;
    white-space: normal;
    text-align: left;
    overflow: auto;
  }

  border: 1px solid #c2c2c2;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  &:not(:first-child) {
    border-top: none;
  }

  &:not(:last-child) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
  }
}

.dungeon-dropdown {
  .dropdown-main-text {
    font-size: 16px;
  }
}
